version: '3.8'

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring-net
    volumes:
      - grafana-storage:/var/lib/grafana
    environment:
      GF_INSTALL_PLUGINS: grafana-sqlserver-datasource,grafana-mysql-datasource
    extra_hosts:
      - "host.docker.internal:host-gateway"  

volumes:
  grafana-storage:

networks:
  monitoring-net:
    name: monitoring-net
    driver: bridge