services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring-net
    volumes:
      - grafana-storage:/var/lib/grafana
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: DockerMonitoring
      MYSQL_USER: grafana
      MYSQL_PASSWORD: grafana123
    networks:
      - monitoring-net
    volumes:
      - ./init-mysql.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  grafana-storage:

networks:
  monitoring-net:
    driver: bridge